/*--------Google Fonts link Imported below----------*/
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@500&family=Prompt&display=swap');

/*--------some common style that added in project-------*/
body{
    font-family: 'Poppins', sans-serif;
}


/*---------------Header section Styles start from here------*/
.header-section{
    display: flex;
    margin-bottom: 40px;
}
.head-section-half{
    width: 50%;
    padding-left: 104px;
}
.head-section-half>img{
    width: 70%;
    padding-left: 80px;
}

h1{
    font-size: 50px;
    
}
.blue-color{
    color:rgb(108, 229, 238);
}

.head-section-half p{
    text-align: justify;
    margin-bottom: 30px;
}
.head-button{
    display: inline-block;
     font-size: 16px;
    background-color: #E02C6D;
    padding:10px 50px;
    color: white;
    border-radius: 25px; 
}
.head-button a{
    color: white;
    text-decoration: none;
}



/*--------------Popular collection style start here -------*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 95px;
}
.container{
    width: 85%;
    background-color: #FFFFFF;
}
.section-title{
    text-align: center;
    margin:40px 0;
}
.collections{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
}
.collection{
    width: 329px;
    height: 476px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 10px 0;
}
.collection-banner img{
    width: 300px;
    height: 256px;
    margin-left: 8px;
    margin-top: 10px;
}
.collection, .collection-detail{
    padding-left: 17px;
}
.collection-title{
    margin-bottom: 5px;
}
.collection-detail, .collection-price{
    margin-bottom: 5px;
}
.collection-detail, .collection-info p{
    margin-bottom: 10px;
    
}









/*=======================Media Queries =================*/
/*-------Mobile devices(PIxel-2)---------*/
@media only screen and (max-width:688px) {
    .header-section{
        flex-direction: column;
    }
    .sec1-half-width img{
        width: 100%;
    }

    main{
        margin-left: 0px;
    }
    .container{
        width: 100%;
    }
    .collections{
        grid-template-columns: repeat(1,1fr);
        margin-left: 25px;
    }
}

/*---------------Media Queries for tablet(Ipad) Devices ---------*/
@media only screen and (min-width:688px) and (max-width:992px){
    main{
        margin-left: 0px;
    }
    .container{
        margin-right: 40px;
    }
    .collections{
        grid-template-columns: repeat(2,1fr);
        
    }


}